* {
    box-sizing: border-box;
}

html {
    font-family: var(--neutral-face); /* default font */
}

h1, h2, h3, h4 {
    color: black;
    text-transform: uppercase;
}

/* Clearing default styling for links - such as blue color or underline */
a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: inherit; 
    text-decoration: inherit;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
    box-shadow: none;
}





/* Often used titles */
.mini-title {
    font-family: Neutral Face;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
}

/* Often used paragraph style */
.para {
    color: #2E2C2C;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Ink Stain before the footer, note: must be inside MAIN tag to work */
.footer-ink-stain {
    height: 915px;
    margin-top: -915px;

    background: url(/img/footer-ink-stain.png) no-repeat;
}




/* Emotions Emojis */
.emotion-funny::before {
    content: '🤣';
}

.emotion-cute::before {
    content: '😙';
}

.emotion-sad::before {
    content: '😟';
}

.emotion-sexy::before {
    content: '🥴';
}

.emotion-scary::before {
    content: '😱';
}

.emotion-awkward::before {
    content: '😬';
}

.emotion-angry::before {
    content: '😈';
}

.emotion-nostalgic::before {
    content: '🧐';
}



/* Marquee - the running line */
.marquee-area {
    /* padding: 10rem 0; */
}

.marquee {
    overflow: hidden;
}
  
.marquee__inner {
    display: flex;
}

.marquee__line {
    flex-shrink: 0;
    margin: 0;
    min-width: 100%;
    white-space: nowrap;
    animation: marqueeLine 20s linear infinite;
}

@keyframes marqueeLine {
    from {
        transform: translateX(0);
    }
    
    to {
        transform: translateX(-100%);
    }
}
/* End of Marquee */