html, body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: none;
}

/* CSS VARIABLES */

:root {
    /* UI-kit */
    /*   Colors */
    --black-color: #050505;
    --gray-color: #CECECE;
    --white-color: #fff;
    --red-color: #D23111;
    --pink-color: #F162D8;
    --yellow-color: #FAED5B;

    /*   Effects */
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

    /*   Fonts */
    --danger: "Another Danger Slanted";
    --monument: "Monument Extended";
    --druk: "Druk Cyr";
    --futura-bold: "Futura-Bold";
    --futura-pt-cond: "Futura PT Cond";
    --futura-demi-c: "FuturaDemiC";
    --futura-pt-cond-medium-italic: "Futura PT Cond Medium Italic";



    /* Scrapped */
    --primary-color: #0059BD;
    --primary-color2: ;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f;
    --bg-strong-color: #4d4d4d;
    --bg-stronger-color: #1a1a1a;
    --bg-active-color: #1f0101;
    --bg-light-color: #bbb;

    /* font family scrapped */
    --neutral-face: "Neutral Face";

}